
#banner{
    width:100%;
    height:auto;
    margin-bottom:10px;
    border-radius:10px
}


#search{
    border-radius:20px;
    padding: 10px 20px;
    width:40%;
}

#search:focus{
    box-shadow: unset
}


#access-granted{
    position: fixed;
    bottom:10px;
    right:10px;
    left:10px;
    z-index:10;
    background: green;
    color: black;
    text-align:center;
    padding:10px;
    border-radius:10px;
    animation: permission 10s ease forwards
}
#access-granted {
    display: none;
}

@keyframes permission{
    100%{
        bottom:-100px
    }
}





input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    width: 250px;
    background-color: #1b2139; /* Fundo do input */
    color: #ffffff;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 5px #ff4081; /* Sombra ao focar no input */
}

.list button:before{
    content:attr(data-button)
}

button {
    background-color: #ff4757; /* Cor de fundo vermelha */
    color: white; /* Cor do texto branco */
    border: none; /* Remove bordas padrão */
    padding: 10px 15px; /* Espaçamento interno */
    margin-left: 5px; /* Espaçamento entre os botões */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave para mudança de cor */
}

button:hover {
    background: #e84118; /* Cor de fundo ao passar o mouse */
}

button:disabled{
    display:none
}

#movies, #tv-shows {
    position: relative; /* Necessário para posicionar elementos internos */
    padding: 20px; /* Adiciona espaço interno */
}

/* Adicionando estilo para o h6 */
h6 {
    margin: 0; /* Remove margem padrão */
    font-size: 1rem; /* Tamanho da fonte */
}
.results {
    display: grid;
     gap: 15px; /* Spacing between items */
    margin-top: 20px;
}


.card {
    background-color: #1b2139; /* Fundo do cartão */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    text-align: center; 
    position: relative
}

.card:hover {
    transform: translateY(-5px); 
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0; 
}

.card h3 {
    font-size: 16px;
    margin: 0 10px;    
    display: -webkit-box; /* Enables flexbox-based layout for clamping */
    -webkit-box-orient: vertical; /* Defines the box orientation */
    overflow: hidden; /* Hides overflow text */
    text-overflow: ellipsis; /* Adds "..." at the end if text overflows */
    -webkit-line-clamp: 2;
}

.card h8 {
    font-size: 14px;
    position: absolute;
    top:10px;
    right:10px;
    background: #0b7e61; 
    font-weight:700;
    padding:5px 10px;
    font-size:12px;
    border-radius:10px
}

.card h8[type="#Filme"]:after{
    content:"Filme"
}
.card h8[type="#Dorama"]:after{
    content:"Dorama"
}
.card h8[type="#Série"]:after{
    content:"Série"
}
.card h8[type="#Animação"]:after{
    content:"Animação"
}
.card h8[type="#Anime"]:after{
    content:"Anime"
}

.card h8[type="#Dorama"]{
    background: #ff4081
}
.card h8[type="#Série"]{
    background: rgb(127, 25, 211)
}
.card h8[type="#Animação"]{
    background: rgb(49, 127, 190);
}
.card h8[type="#Anime"]{
    background: rgb(255, 94, 0);
}

.card p {
    font-size: 14px;
    color: #b0b0b0; 
    margin-bottom:20px
}

button {
    background-color: #1b2139;
    color: rgba(255, 255, 255, 0.438);
    border: none;
    padding: 10px 15px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
button:hover {
    background: #ff4757;
    color: white
}
#movies, #tv-shows {
    position: relative;
    padding: 20px;
}
h6 {
    margin: 0;
    font-size: 13px;
    font-weight:400;
    opacity:0.6
}






@media (min-width: 300px){
    .results {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 500px){
    .results {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (min-width: 800px){
    .results {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media (min-width: 900px){
    .results {
        grid-template-columns: repeat(5, 1fr); 
    }
}
@media (min-width: 1100px){
    .results {
        grid-template-columns: repeat(6, 1fr); 
    }
}
@media (min-width: 1400px){
    .results {
        grid-template-columns: repeat(7, 1fr); 
    }
}
@media (min-width: 1800px){
    .results {
        grid-template-columns: repeat(10, 1fr); 
    }
}


@media (max-width: 800px) {
    #banner{
        display:none
    }

    header{
        flex-wrap:wrap;
        justify-content: center;
        margin:0!important;        
        border-radius:0!important
    }

    .logo{
        width:100%;
        display:flex;
        justify-content:center
    }
    

    #search{
        width:100%;
        margin-top:20px;
    }

    .list button:before{
        font-family:"Material Symbols Outlined";
        content:"\e317";
        display:flex;
    }

    button[data-button="Próxima Página"]::before {
        transform: rotate(180deg)
    }

    .card h3{
        margin:10px 
    }

    footer{
        margin:0!important;
        border-radius:0!important
    }

    main{
        border-radius:0!important
    }
}
